<div style='background-color:white;color:black;'>

 <h1>Crea Pastel</h1>
  <p>¡Registra tu pastel en la aplicación!</p>

  <form action="/Pastel/create" method="post">
    <div class="form-group">
      <label>Nombre</label>
      <input required type="text" class="form-control" placeholder="Nombre" name="nombre">
    </div>

    <div class="form-group">
      <label>Tiempo de Elaboracion</label>
      <input type="integer" class="form-control" placeholder="Tiempo de elaboracion" name="tiempoElaboracion">
    </div>
    
     <div class="form-group">
      <label>Foto</label>
      <input required type="url" class="form-control" placeholder="Url" name="urlFoto">
    </div>
   
    <select class="form-control" name="idPasteleria">
      <% for(var i=0; i<Pastelerias.length; i++){ %>
        <option value='<%=Pastelerias[i].id%>'>
          <%=Pastelerias[i].nombre%>
        </option>
        <%  } %>
    </select>



    <br>
   
    <button type="submit" class="btn btn-success">Crear Pastel</button>

  </form>
</div>