<div class="jumbotron">
  
  <table  class="table table-hover">
    
    <tr>
        <td><h1>Error</h1></td>
        <td><img src="/Imagenes/descarga.jpg" alt=""></td>
        
    </tr>
    
    
  
   
  
</div>