<div class="jumbotron">
  <h1>Pastelerías!</h1>
  <p>Registra tus pasteles para compartirlas por la web :) </p>
  <p><a class="btn btn-primary btn-lg" href="/Pasteleria/CrearPasteleria" role="button">Registra tu Pasteleria</a> <a class="btn btn-primary btn-lg" href="/Pasteleria/listarPasteleria" role="button">Listar Pastelerias</a> </p>
</div>