<div style='background-color:white;color:black;'>

  <h1>Crea Pasteleria</h1>
  <p>¡Registra tu pasteleria en la aplicación!</p>

  <form action="/Pasteleria/create" method="post">
    <div class="form-group">
      <label for="exampleInputEmail1">Nombre</label>
      <input  required type="text" class="form-control"  placeholder="Nombre" name="nombre" required>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Ciudad</label>
      <input  required type="text" class="form-control"  placeholder="Ciudad" name="ciudad" required>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Correo</label>
      <input type="email" class="form-control"  placeholder="Correo" name="correo" required>
    </div>
    <button type="submit" class="btn btn-success">Crear Pasteleria</button>
    <br>

  </form>
</div>